*.db
*.egg
*.egg-info/
*.log
*.py[cod]
*.so
*.sqlite3
*.tmp
.DS_Store
.coverage
.coverage.*
.eggs/
.env.*
.git/
.gitignore
.idea/
.ipynb_checkpoints
.pytest_cache/
.venv/
.vscode/
Thumbs.db
__pycache__/
build/
config.toml
dist/
docker-compose.override.yml
docker-compose.yml
htmlcov/
secrets.*
tests
